.about {
  text-align: center;
}

.about__slogan {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    width: 620px;
    margin-top: 29px;
    margin-bottom: 28px;
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    width: 920px;
    margin-top: 47px;
    margin-bottom: 57px;
    padding: 0 10px;
  }
}

.about__wrapper-main {
  background-color: $bkg-second-color;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: -6px top;
  background-size: 100% auto;
}

.about__items {
  width: 280px;
  margin: 0 auto;
  padding: 78px 20px 287px;

  list-style: none;

  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 504px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: $tablet-width) {
    width: 310px;
    padding-top: 73px;
    padding-bottom: 9px;
    padding-left: 329px;

    text-align: left;

    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px bottom;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
      background-size: 268px auto;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    width: 880px;
    margin: 0 auto;
    padding: 0 40px;

    text-align: center;

    background-image: none;
  }
}

.about__title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 18px;
  color: $caption-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 24px;

    font-size: 30px;
    line-height: 30px;
  }
}

.about__text {
  margin: 0;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.about__item {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 34px;
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    padding-top: 356px;

    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: -23px -3px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
      background-size: 292px auto;
    }

    &--color {
      background-image: url("../img/iphone-screen-2-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
      }
    }

    &--smile {
      background-image: url("../img/iphone-screen-3-desktop@1x.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
      }
    }
  }
}
