.app-links {
  @include tablet {
    width: 300px;
    margin: 0;
    padding: 0;
  }

  position: relative;

  width: 280px;
  margin: 0 auto;
  padding: 27px 20px 30px;

  font-weight: 300;
  text-align: center;
  color: $bkg-main-color;

  &::before {
    @include retina {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }

    @include tablet {
      display: none;
    }

    content: "";
    position: absolute;
    top: -287px;
    left: 0;

    width: 258px;
    height: 286px;

    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-repeat: no-repeat;
  }
}

.app-links__wrapper {
  @include tablet {
    width: 245px;
    margin: 0 auto 31px;
  }

  @include desktop {
    margin-bottom: 50px;
  }

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 242px;
  margin: 0 auto 14px;
}

.app-links__button {
  @include tablet {
    margin-bottom: 42px;
  }

  @include desktop {
    margin-bottom: 64px;
  }

  margin-bottom: 31px;
}

.app-links__text {
  @include tablet {
    font-size: 18px;
  }

  margin: 0;
}
