.contest__offer {
  width: 280px;
  margin: 0 auto;
  padding: 55px 20px 45px;
}

.contest__wrapper {
  &--colored {
    background-color: $bkg-second;
  }
}

.contest__field {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.contest__text {
  line-height: 30px;
  text-align: center;

  &--colored {
    color: $element;
  }
}


@media (min-width: $tablet) {
  .contest__offer {
    width: 620px;
  }

  .contest__form {
    width: 620px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .contest__field {
    width: auto;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop) {
  .contest__offer {
    width: 940px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .contest__form {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }
}
