.contacts {
  text-align: center;
}

.contacts__slogan {
  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__items {
  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  @include clear-list;
}

.contacts__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 18px;
}

.contacts__info {
  display: inline-block;
  margin-top: 0;

  font-weight: 300;
  font-size: 24px;
  color: $element;
  text-decoration: none;
}

@media (min-width: $tablet) {
  .contacts__slogan {
    width: 620px;
  }

  .contacts__items {
    width: 620px;
  }
}

@media (min-width: $desktop) {
  .contacts__slogan {
    width: 940px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .contacts__items {
    width: 940px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
