.contacts {
  text-align: center;
}

.contacts__slogan {
  width: 320px;
  margin: 0 auto;
}

.contacts__items {
  @include clear-list;

  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.contacts__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__subtitle {
  font-weight: 700;
  font-size: 18px;
}

.contacts__info {
  display: inline-block;
  margin-top: 0;

  font-weight: 300;
  font-size: 24px;
  color: $element;
  text-decoration: none;
}
