.contacts {
  text-align: center;
}

.contacts__slogan {
  @include tablet {
    width: 620px;
    margin-top: 26px;
    margin-bottom: 23px;
  }

  @include desktop {
    width: 940px;
    margin-top: 44px;
    margin-bottom: 36px;
    padding-right: 10px;
    padding-left: 10px;
  }

  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__items {
  @include clear-list;

  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    padding-bottom: 29px;
  }

  @include desktop {
    width: 940px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
  }

  width: 280px;
  margin: 0 auto;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
}

.contacts__item {
  @include tablet {
    width: 298px;
    margin-bottom: 45px;
  }

  @include desktop {
    width: 298px;
  }

  margin-bottom: 23px;

  &:last-child {
    @include tablet {
      margin: 0 auto;
    }

    margin-bottom: 0;
  }

  &--order {
    @include desktop {
      order: 1;
    }
  }
}

.contacts__subtitle {
  @include tablet {
    margin-bottom: 8px;
  }

  @include desktop {
    margin-bottom: 25px;
  }

  display: block;
  margin-bottom: 3px;

  font-weight: 700;
  font-size: 18px;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  color: $element-color;
  text-decoration: none;

  &:hover {
    color: $main-color;
    text-decoration: underline;
  }
}

.contacts__info {
  margin-top: 4px;
  margin-bottom: 0;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  color: $element-color;
}

.contacts__map {
  @include retina {
    background-image: url("../img/bg-map-mobile@2x.jpg");
  }

  @include tablet {
    @include retina {
      background-image: url("../img/bg-map-tablet@2x.jpg");
    }

    height: 373px;

    background-image: url("../img/bg-map-tablet@1x.jpg");
    background-position: center -349px;
  }

  @include desktop {
    @include retina {
      background-image: url("../img/bg-map-desktop@2x.jpg");
    }

    height: 486px;
    margin-bottom: 7px;

    background-image: url("../img/bg-map-desktop@1x.jpg");
    background-position: center -293px;
  }

  position: relative;

  height: 200px;

  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center -446px;
}

.contacts__map-decor {
  position: absolute;
  top: -1px;
  z-index: 1;

  display: block;
  width: 100%;
  height: auto;

  fill: $bkg-main-color;
}

.contacts__map-google {
  @include tablet {
    min-height: 373px;
  }

  @include desktop {
    min-height: 486px;
  }

  width: 100%;
  min-height: 200px;
}
