.copyright {
  @include desktop {
    font-size: 18px;
  }

  line-height: 18px;
}

.copyright__image {
  @include tablet {
    margin-left: 11px;
  }

  @include desktop {
    margin-left: 9px;
  }

  margin-left: 10px;

  vertical-align: middle;

  fill: $element-color;

  &:hover,
  &:focus {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;
}
