.copyright {
  line-height: 18px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.copyright__image {
  margin-left: 16px;

  vertical-align: middle;

  fill: $element-color;

  @media (min-width: $tablet-width) {
    margin-left: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 9px;
  }

  &:hover {
    fill: $main-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.copyright__text {
  margin: 0;
}
