.footer {
  &--index {
    @include tablet {
      display: block;
    }

    display: none;
  }
}

.footer__wrapper {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-top: 6px;
    padding-top: 28px;
    padding-bottom: 38px;
  }

  @include desktop {
    width: 940px;
    margin-top: 0;
    padding-top: 63px;
    padding-right: 10px;
    padding-bottom: 73px;
    padding-left: 10px;
  }

  width: 280px;
  margin: 0 auto;
  padding: 40px 20px;

  text-align: center;
}

.footer__logo {
  @include tablet {
    margin: 0;
  }

  display: block;
  margin-bottom: 34px;
}

.footer__logo-mobile {
  @include desktop {
    display: none;
  }

  width: 147px;
  height: 41px;

  fill: $main-color;
}

.footer__logo-desktop {
  @include desktop {
    display: block;
  }

  display: none;
  width: 147px;
  height: 41px;

  fill: $main-color;
}

.footer__logo:hover .footer__logo-mobile,
.footer__logo:hover .footer__logo-desktop {
  fill: $element-color;
}


.footer__logo:active .footer__logo-mobile,
.footer__logo:active .footer__logo-desktop {
  opacity: 0.3;

  fill: $main-color;
}

.footer__social {
  @include tablet {
    margin-top: 5px;
    margin-right: 19px;
    margin-bottom: 0;
  }

  @include desktop {
    margin-right: 0;
    margin-left: 15px;
  }

  margin-bottom: 40px;
}

.footer__copyright {
  @include tablet {
    margin-top: 15px;
  }
}
