.hero {
  margin: 0 auto;

  text-align: center;
  color: $bkg-main;

  background-color: $main;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &--index {
    padding-top: 462px;

    background-image: url("../img/iphone-hand-mobile@1x.png"),
      url("../img/bg-back-mobile@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: 0 176px, top center;
    background-size: auto, auto 462px;

    .hero__title {
      display: none;
    }
  }
}

.hero__title {
  margin: 0;
  padding: 102px 20px 39px;

  font-weight: 300;
  font-size: 24px;
}

@media (min-width: $tablet) {
  .hero {
    background-color: transoarent;

    &--index {
      padding-top: 182px;

      background-position: 0 176px, top center;
      background-size: auto, cover;
    }
  }

  .hero__wrapper {
    width: 660px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop) {
  .hero {
    background-color: transoarent;

    &--index {
      padding-top: 200px;
    }
  }

  .hero__wrapper {
    width: 960px;
    margin: 0 auto;
  }
}
