.hero {
  @include retina {
    background-image: url("../img/bg-back-mobile@2x.jpg");
    background-size: auto 462px;
  }

  @include tablet {
    @include retina {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }

    min-height: 439px;
    margin-top: -110px;

    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  @include desktop {
    @include retina {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }

    min-height: 395px;

    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  min-height: 236px;
  margin-top: -66px;

  text-align: center;
  color: $bkg-main-color;

  background-color: $main-color;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;

  &--index {
    @include tablet {
      min-height: 410px;
      padding-top: 102px;

      background-size: cover;
    }

    @include desktop {
      min-height: 654px;
      padding-top: 200px;
    }

    padding-top: 462px;

    background-size: auto 462px;
  }
}

.hero__title {
  @include tablet {
    padding-top: 180px;

    font-weight: 300;
    font-size: 50px;
    line-height: 1.2;
  }

  @include desktop {
    padding-top: 174px;
  }

  margin: 0;
  padding: 96px 20px 20px;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;

  &--size {
    @include desktop {
      width: 658px;
      margin: 0 auto;
    }
  }
}

.hero--index .hero__title {
  @include tablet {
    display: block;
    margin-bottom: 31px;
    padding: 0 30px;

    font-size: 40px;
  }

  @include desktop {
    margin-bottom: 51px;

    font-size: 50px;
  }

  display: none;
}

.hero__wrapper {
  @include tablet {
    @include retina {
      background-image: url("../img/iphone-hand-tablet@2x.png");
      background-size: 700px auto;
    }

    width: 620px;
    margin: 0 auto;
    margin-top: 80px;
    padding-top: 20px;
    padding-bottom: 110px;

    background-color: transparent;
    background-image: url("../img/iphone-hand-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: bottom;
  }

  @include desktop {
    @include retina {
      background-image: url("../img/iphone-hand-desktop@2x.png");
      background-size: 1050px auto;
    }

    width: 940px;
    margin: 0 auto;
    padding-bottom: 122px;

    background-image: url("../img/iphone-hand-desktop@1x.png");
    background-position: 16px bottom;
  }

  background-color: $main-color;
}
