.nav {
  @include desktop {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;

    background-color: transparentize($caption-color, 0.7);
  }

  position: relative;

  width: 100%;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  color: $bkg-main-color;
  text-transform: uppercase;

  background-color: $main-color;

  &--closed {
    background-color: transparentize($caption-color, 0.7);
  }
}

.nav__toggle {
  @include tablet {
    top: 44px;
  }

  @include desktop {
    display: none;
  }

  position: absolute;
  top: 21px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 50px;
  height: 27px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;
}

.nav--opened .nav__items {
  @include nav-open {
    position: absolute;
    z-index: 1;

    width: 100%;

    background-color: $main-color;
  }
}

.nav--opened .nav__toggle {
  width: 27px;
  height: 27px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;

    width: 30px;
    height: 4px;

    background-color: $bkg-main-color;
  }

  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::before,
  &:hover::after {
    background-color: $element-color;
  }

  &:active::before,
  &:active::after {
    background-color: transparentize($element-color, 0.7);
  }
}

.nav--closed .nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 50px;
  height: 4px;

  background-color: $bkg-main-color;
  box-shadow: 0 10px 0 0 $bkg-main-color,
    0 20px 0 0 $bkg-main-color;
}

.nav--closed .nav__toggle:hover::before {
  background-color: $element-color;
  box-shadow: 0 10px 0 0 $element-color,
    0 20px 0 0 $element-color;
}

.nav--closed .nav__toggle:active::before {
  background-color: transparentize($element-color, 0.7);
  box-shadow: 0 10px 0 0 transparentize($element-color, 0.7),
    0 20px 0 0 transparentize($element-color, 0.7);
}

.nav--closed .nav__items {
  @include nav-open {
    display: none;
  }
}

.nav__wrapper-main {
  @include desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
  }
}

.nav__wrapper-inner {
  @include tablet {
    padding-top: 26px;
    padding-bottom: 42px;
  }

  @include desktop {
    width: 150px;
    padding-right: 0;
    padding-left: 0;

    border: none;
  }

  padding: 22px 20px 15px;

  border-bottom: 1px solid $caption-color;
}

.nav__logo:hover .nav__logo-mobile,
.nav__logo:hover .nav__logo-tablet,
.nav__logo:hover .nav__logo-desktop {
  fill: $element-color;
}

.nav__logo:active .nav__logo-mobile,
.nav__logo:active .nav__logo-tablet,
.nav__logo:active .nav__logo-desktop {
  fill: transparentize($bkg-main-color, 0.7);
}

.nav__logo-mobile {
  @include tablet {
    display: none;
  }

  width: 75px;
  height: 23px;

  fill: $bkg-main-color;
}

.nav__logo-tablet {
  @include tablet {
    display: block;
  }

  @include desktop {
    display: none;
  }

  display: none;
  width: 147px;
  height: 41px;

  fill: $bkg-main-color;
}

.nav__logo-desktop {
  @include desktop {
    display: block;
  }

  display: none;
  width: 147px;
  height: 41px;

  fill: $bkg-main-color;
}

.nav__items {
  @include clear-list;

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 621px;
  }

  text-align: center;
}

.nav__item {
  @include desktop {
    border: none;
  }

  border-top: 1px solid transparentize($bkg-main-color, 0.85);
  border-bottom: 1px solid $caption-color;
}

.nav__link {
  display: block;
  padding: 15px 0;

  color: $bkg-main-color;
  text-decoration: none;

  &:hover {
    color: $element-color;
  }

  &:active {
    @include desktop {
      color: transparentize($bkg-main-color, 0.7);
    }

    color: transparentize($element-color, 0.7);
  }

  &--active {
    @include desktop {
      border-bottom: 2px solid $bkg-main-color;
    }

    cursor: default;

    &:hover {
      color: $bkg-main-color;
    }

    &:active {
      color: $bkg-main-color;
    }
  }
}
