.offer {
  line-height: 30px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

.offer__text {
  margin: 0;

  &--hidden {
    display: none;

    @media (min-width: $tablet-width) {
      display: inline-block;
    }
  }
}
