.photo {
  margin-bottom: 20px;
}

.photo__caption {
  padding: 25px 20px;

  background-color: $bkg-second;
}

.photo__author {
  margin: 0;

  font-weight: 700;
}

.photo__date {
  font-weight: 300;
  font-size: 12px;
}

.photo__text {
  margin-top: 0;
  margin-bottom: 20px;
}

.photo__like {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $element;
}

@media (min-width: $tablet) {
  .photo {
    flex-basis: 300px;
    min-height: 455px;

    &--best {
      margin: 0;
    }
  }
}

@media (min-width: $desktop) {
  .photo {
    min-height: 555px;
  }

  .photo:not(.photo--best) {
    margin-right: 20px;
    margin-bottom: 54px;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
