.photo {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    width: 300px;

    &--best {
      margin: 0;
    }
  }
}

.photo__caption {
  padding: 25px 20px;

  background-color: $bkg-second;

  @media (min-width: $tablet) {
    flex-grow: 1;
  }
}

.photo__author {
  margin: 0;

  font-weight: 700;
}

.photo__date {
  font-weight: 300;
  font-size: 12px;
}

.photo__text {
  margin-top: 0;
  margin-bottom: 20px;
}

.photo__like {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: $element;
}
