.photos__offer {
  @include tablet {
    width: 570px;
    padding-top: 92px;
    padding-bottom: 76px;
  }

  @include desktop {
    width: 640px;
    padding-right: 10px;
    padding-bottom: 88px;
    padding-left: 10px;
  }

  width: 253px;
  margin: 0 auto;
  padding: 45px 20px 49px;
}

.photos__wrapper {
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 620px;
    margin-bottom: 45px;
  }

  @include desktop {
    width: 940px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
  }

  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.photos__item {
  @include desktop {
    margin-bottom: 54px;
  }

  margin-bottom: 20px;
}

.photos__item-wrapper {
  @include tablet {
    min-height: 509px;
  }

  @include desktop {
    min-height: 506px;
  }

  position: relative;

  display: block;
  width: 100%;
  min-height: 137px;
  overflow: hidden;
}
