.price {
  line-height: 30px;
  text-transform: uppercase;

  background-color: $bkg-second-color;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-position: -6px top;
  background-size: 100% auto;
}

.price__wrapper {
  @include tablet {
    width: 620px;
    padding: 85px 20px 25px;
  }

  @include desktop {
    width: 940px;
    padding: 143px 10px 52px;
  }

  width: 320px;
  margin: 0 auto;
  padding: 88px 0 6px;
  overflow: hidden;
}

.price__table {
  @include tablet {
    width: 100%;

    transform: none;
  }

  width: 837px;

  border-collapse: collapse;

  transform: translate(-258px);
}

.price__header {
  @include tablet {
    width: 25%;
  }

  width: 33%;

  color: $bkg-main-color;

  background-color: $main-color;
  border: 2px solid $disabled-color;

  &--hidden {
    @include tablet {
      display: table-cell;

      border: none;
      visibility: hidden;
    }

    display: none;
  }
}

.price__title {
  @include tablet {
    margin-bottom: 0;

    font-size: 16px;
  }

  @include desktop {
    font-size: 18px;
  }

  margin-top: 0;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 18px;
}

.price__coast {
  @include tablet {
    font-size: 18px;
  }

  @include desktop {
    font-size: 24px;
  }

  margin: 0;

  font-weight: 300;
  font-size: 24px;
}

.price__field {
  @include tablet {
    padding: 4px 14px;

    font-size: 14px;
    text-transform: none;
  }

  @include desktop {
    padding: 14px 20px;

    font-size: 18px;
  }

  padding: 20px;

  background-color: $bkg-main-color;
  border: 2px solid $disabled-color;

  &--hidden {
    @include tablet {
      display: table-cell;
    }

    display: none;
  }
}

.price__value {
  @include tablet {
    padding-top: 6px;
    padding-bottom: 11px;
  }

  @include desktop {
    padding-top: 11px;
  }

  padding: 14px 21px;

  background-color: $bkg-main-color;
  border: 2px solid $disabled-color;
}

.price__value-icon {
  @include tablet {
    display: block;
    float: none;
    margin: 0 auto;
  }

  float: right;
  width: 27px;
  height: 27px;

  &--cross {
    fill: $false-color;
  }

  &--checked {
    fill: $true-color;
  }
}

.price__slider {
  margin-bottom: 44px;
}

.price__slider-item {
  @include tablet {
    display: none;
  }
}

.price__slider .slider__toggles {
  @include tablet {
    display: none;
  }
}

.price__wrapper-header {
  @include tablet {
    padding-top: 12px;
    padding-bottom: 5px;
  }

  @include desktop {
    padding-top: 16px;
    padding-bottom: 20px;
  }

  position: relative;

  padding: 16px 20px 18px;
}

.price__header--hit .price__wrapper-header {
  &::after {
    @include tablet {
      @media (max-width: $desktop-width - 1px) {
        background-image: url("../img/bg-hit-tablet.svg");
      }
    }

    content: "";
    position: absolute;
    top: -1px;
    left: -1px;

    width: 100%;
    height: 100%;

    background-image: url("../img/bg-hit.svg");
    background-repeat: no-repeat;
  }

  &::before {
    @include tablet {
      top: 5px;
      left: 6px;
    }

    @include desktop {
      top: 10px;
      left: 11px;
    }

    content: "Хит";
    position: absolute;
    top: 12px;
    left: 9px;
    z-index: 1;

    font-weight: 400;
    line-height: 30px;
    color: $bkg-main-color;
    text-transform: uppercase;

    transform: rotate(-45deg);
  }
}
