.promo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $bkg-second-color;
  }
}

.promo__title {
  width: 205px;
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $caption-color;

  @media (min-width: $desktop-width) {
    width: auto;
    margin-bottom: 21px;
  }
}

.promo__text {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.promo__link {
  color: $element-color;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.promo__wrapper {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0 auto;
    padding-top: 96px;
    padding-right: 20px;
    padding-bottom: 115px;
    padding-left: 319px;

    background-image: url("../img/icon-timer.svg");
    background-repeat: no-repeat;
    background-position: 11px 59px;
    background-size: 238px auto;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-top: 123px;
    padding-right: 10px;
    padding-bottom: 113px;
    padding-left: 373px;

    background-position: 8px 32px;
    background-size: 298px auto;
  }

  &::before {
    @media (min-width: $tablet-width) {
      content: "24";
      position: absolute;
      top: 135px;
      left: 74px;

      font-weight: 700;
      font-size: 96px;
      line-height: 149.47px;
      color: $element-color;
    }

    @media (min-width: $desktop-width) {
      top: 127px;
      left: 86px;

      font-size: 120px;
      line-height: 186.84px;
    }
  }

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      bottom: 107px;
      left: 29px;

      width: 172px;
      height: 172px;

      border: 15px solid $element-color;
      border-radius: 50%;
    }

    @media (min-width: $desktop-width) {
      bottom: 90px;
      left: 29px;

      width: 219px;
      height: 219px;

      border: 17px solid $element-color;
    }
  }
}
