.promo {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    background-color: $bkg-second-color;
  }
}

.promo__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: $caption-color;

  @media (min-width: $desktop-width) {
    margin-bottom: 21px;
  }

  br {
    @media (min-width: $desktop-width) {
      display: none;
    }
  }
}

.promo__text {
  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    width: 520px;
    margin-bottom: 30px;

    font-size: 18px;
    line-height: 30px;
  }
}

.promo__link {
  color: $element-color;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}

.promo__wrapper {
  @media (min-width: $tablet-width) {
    width: 300px;
    margin: 0 auto;
    padding-top: 96px;
    padding-right: 20px;
    padding-bottom: 115px;
    padding-left: 319px;

    background-image: url("http://placehold.it/238x276");
    background-repeat: no-repeat;
    background-position: 11px 59px;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
    padding-top: 123px;
    padding-right: 10px;
    padding-left: 373px;

    background-image: url("http://placehold.it/298x345");
    background-position: 8px 32px;
  }
}
