.range {
  @include tablet {
    display: block;
  }

  display: none;

  &--active {
    position: relative;

    display: block;

    &::after {
      @include tablet {
        display: none;
      }

      content: "";
      position: absolute;
      bottom: 0;
      left: -20px;

      width: 320px;
      height: 1px;

      background-color: transparentize($main-color, 0.9);
    }
  }
}

.range__line {
  @include tablet {
    width: 202px;
  }

  @include desktop {
    width: 288px;
  }

  position: relative;

  width: 240px;
  height: 2px;
  margin: 0 auto;

  background-color: $main-color;
}

.range__indicator {
  position: absolute;
  top: -6px;

  width: 10px;
  height: 10px;

  background-color: $bkg-main-color;
  border: 2px solid $element-color;
  border-radius: 50px;
  cursor: pointer;

  &--crop {
    @include tablet {
      right: 42px;
    }

    @include desktop {
      right: 202px;
    }

    right: 33px;
  }

  &--saturation {
    @include desktop {
      left: 247px;
    }

    left: 25px;
  }

  &--contrast {
    @include desktop {
      right: 114px;
    }

    right: 92px;
  }

  &:active {
    background-color: $element-color;
  }
}
