.review {
  display: none;

  line-height: 30px;
  text-align: center;

  &--active {
    @include tablet {
      display: flex;
      flex-direction: column-reverse;
    }

    @include desktop {
      width: 790px;
      padding-top: 112px;

      background-image: url("../img/icon-quotes.svg");
      background-repeat: no-repeat;
      background-position: center top;
    }

    display: block;
  }
}

.review__author {
  @include tablet {
    margin-bottom: 2px;

    font-size: 20px;
  }

  @include desktop {
    margin-bottom: 2px;

    font-size: 24px;
  }

  font-weight: 700;
  font-size: 18px;
  color: $caption-color;
  font-style: normal;
}

.review__author-info {
  @include tablet {
    display: block;
    order: -1;

    font-weight: 400;
    font-size: 14px;
    color: $main-color;
  }

  @include desktop {
    font-size: 18px;
  }

  display: none;
}

.review__text {
  @include tablet {
    margin-top: 0;
    margin-bottom: 35px;

    font-size: 18px;
  }

  @include desktop {
    margin-bottom: 36px;
  }

  margin-top: 11px;
  margin-bottom: 0;
}
