.slogan {
  @include tablet {
    padding: 20px;
  }

  padding-top: 41px;
  padding-bottom: 36px;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;
}

.slogan__text {
  @include tablet {
    margin: 0;

    font-size: 40px;

    &:last-child {
      padding: 0 50px;
    }
  }

  @include desktop {
    font-size: 50px;

    &:last-child {
      padding: 0 150px;
    }
  }

  margin-top: 0;
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }
}
