.slogan {
  padding-top: 41px;
  padding-bottom: 36px;

  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px;
  }
}

.slogan__text {
  margin-top: 0;
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin: 0;

    font-size: 40px;

    &:last-child {
      padding: 0 50px;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;

    &:last-child {
      padding: 0 150px;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
