.tab-controls {
  @include tablet {
    flex-direction: column;
    width: 25px;
    margin-right: 30px;
    margin-left: 0;
  }

  @include desktop {
    justify-content: flex-start;
    width: 48px;
    margin-right: 44px;
  }

  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  margin: 0 auto;
}

.tab-controls__button {
  @include tablet {
    width: 24px;
    height: 24px;
    margin-top: 8px;
    margin-bottom: 40px;
    margin-left: 4px;
  }

  @include desktop {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-bottom: 22px;
    margin-left: 0;
  }

  position: relative;

  width: 48px;
  height: 48px;
  padding: 0;

  background-color: transparent;
  border: none;
  cursor: pointer;

  fill: transparentize($main-color, 0.7);

  &--active {
    fill: $element-color;
  }

  &:hover {
    fill: transparentize($main-color, 0.5);
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      top: 46px;
      left: 0;

      width: 275px;
      height: 1px;

      background-color: transparentize($main-color, 0.9);
    }

    @include desktop {
      top: 58px;

      width: 410px;
    }
  }
}

.tab-controls__icon {
  @include tablet {
    width: 24px;
    height: 24px;
  }

  @include desktop {
    width: 48px;
    height: 48px;
  }

  width: 48px;
  height: 48px;

  &--contrast {
    @include tablet {
      width: 16px;
      height: 16px;
    }

    @include desktop {
      width: 32px;
      height: 32px;
    }

    width: 32px;
    height: 32px;
  }
}
