.text-input {
  @include tablet {
    display: flex;
    align-items: center;
  }

  @include desktop {
    margin-right: 0;
  }

  &--fullname {
    @include desktop {
      margin-bottom: 48px;
    }
  }
}

.text-input--contacts {
  @include tablet {
    position: relative;

    flex-direction: column-reverse;
    align-items: flex-start;
    margin-bottom: 29px;
  }

  @include desktop {
    margin-bottom: 0;
  }

  &:last-child {
    @include tablet {
      margin-bottom: 0;
    }

    &::after {
      @include tablet {
        background-image: url("../img/icon-mail.svg");
      }
    }
  }

  &::after {
    @include tablet {
      content: "";
      position: absolute;
      top: 24px;
      right: 17px;

      width: 24px;
      height: 24px;

      background-image: url("../img/icon-phone.svg");
      background-repeat: no-repeat;
    }
  }
}

.text-input--contacts .text-input__label {
  @include tablet {
    margin-top: 10px;
    margin-left: 20px;
  }
}

.text-input--contacts .text-input__input {
  @include tablet {
    padding-right: 18px;
    padding-left: 18px;

    border-right-width: 62px;
  }

  @include desktop {
    width: 375px;
  }
}

.text-input__label {
  @include tablet {
    margin-right: 18px;
    margin-bottom: 0;
    margin-left: 0;
  }

  display: block;
  margin-bottom: 5px;
  margin-left: 22px;

  font-size: 14px;
  line-height: 30px;
  color: $element-color;
  text-transform: uppercase;
}

.text-input__input {
  box-sizing: border-box;
  width: 100%;
  padding: 14px 20px 15px;

  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  font-family: "Open Sans", "Arial", sans-serif;

  border: 2px solid $disabled-color;
  border-radius: 2px;

  &:hover {
    border-color: $main-color;
  }

  &:focus {
    border-color: $element-color;
  }
}
