.upload-form {
  background-color: $bkg-second;
}

.upload-form__filter {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: $tablet) {
  .upload-form__filter {
    width: 620px;
  }
}

@media (min-width: $desktop) {
  .upload-form__filter {
    width: 940px;
    padding-right: 10px;
    padding-left: 10px;
  }
}
