.upload-form {
  @include desktop {
    background-color: $bkg-main-color;
  }

  background-color: $bkg-second-color;
}

.upload-form__filter {
  @include tablet {
    display: flex;
    justify-content: space-between;
    width: 620px;
    margin-bottom: 7px;
    padding: 57px 20px 54px;
  }

  @include desktop {
    width: 800px;
    margin-bottom: 35px;
    padding-right: 60px;
    padding-bottom: 57px;
    padding-left: 80px;

    background-color: $bkg-second-color;
  }

  width: 280px;
  margin: 0 auto;
  padding-top: 20px;
  padding-right: 22px;
  padding-bottom: 29px;
  padding-left: 18px;
}

.upload-form__button {
  @include tablet {
    margin-top: 24px;
    margin-bottom: 0;
  }

  @include desktop {
    width: 183px;
    margin: 0;
  }

  margin-bottom: 12px;
}

.upload-form__wrapper {
  @include tablet {
    margin: 0;
  }

  margin-bottom: 42px;
}

.upload-form__wrapper-range {
  @include tablet {
    margin-left: 27px;
  }
}

.upload-form__wrapper-main {
  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 275px;
    min-height: 400px;
  }

  @include desktop {
    width: 410px;
  }
}

.upload-form__wrapper-submits {
  @include tablet {
    width: 260px;
    padding: 0;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    width: auto;
  }

  padding-top: 38px;
}

.upload-form__range {
  @include tablet {
    padding: 19px 0 52px;
  }

  padding: 35px 0;
}

.upload-form__wrapper-controls {
  @include tablet {
    display: flex;
  }

  @include desktop {
    justify-content: flex-start;
  }
}

.upload-form__image {
  @include img-fix;

  display: block;
}
