$main-color: rgba(40, 54, 69, 1);
$bkg-main-color: rgba(255, 255, 255, 1);
$bkg-second-color: rgba(242, 242, 242, 1);
$caption-color: rgba(0, 0, 0, 1);
$element-color: rgba(210, 40, 86, 1);
$btn-square-color: rgba(42, 171, 109, 1);
$btn-square-color--hover: rgba(28, 155, 94, 1);
$disabled-color: rgba(229, 229, 229, 1);
$false-color: rgba(242, 91, 38, 1);
$true-color: rgba(61, 198, 68, 1);
$clock-color: rgba(222, 222, 222, 1);
