.page {
  box-shadow: inset 0 0 0 2px black;
}

.header {
  box-shadow: inset 0 0 0 2px red;
}

.nav {
  box-shadow: inset 0 0 0 2px yellow;
}

.nav__items {
  box-shadow: inset 0 0 0 2px green;
}

.hero {
  box-shadow: inset 0 0 0 2px blue;
}

.hero__wrapper {
  box-shadow: inset 0 0 0 2px orange;
}

.app-links {
  box-shadow: inset 0 0 0 2px purple;
}

.about {
  box-shadow: inset 0 0 0 2px red;
}

.about__wrapper-main {
  box-shadow: inset 0 0 0 2px yellow;
}

.about__wrapper-inner {
  box-shadow: inset 0 0 0 2px green;
}

.about__items {
  box-shadow: inset 0 0 0 2px blue;
}

.promo {
  box-shadow: inset 0 0 0 2px orange;
}

.promo__wrapper {
  box-shadow: inset 0 0 0 2px purple;
}

.slogan {
  box-shadow: inset 0 0 0 2px orange;
}

.reviews {
  box-shadow: inset 0 0 0 2px red;
}

.reviews__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.price {
  box-shadow: inset 0 0 0 2px purple;
}

.price__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.slider {
  box-shadow: inset 0 0 0 2px purple;
}

.contacts {
  box-shadow: inset 0 0 0 2px blue;
}

.contacts__items {
  box-shadow: inset 0 0 0 2px red;
}

.offer {
  box-shadow: inset 0 0 0 2px green;
}

.photos {
  box-shadow: inset 0 0 0 2px purple;
}

.photo {
  box-shadow: inset 0 0 0 2px yellow;
}

.photos-upload {
  box-shadow: inset 0 0 0 2px red;
}

.photos-upload__offer {
  box-shadow: inset 0 0 0 2px yellow;
}

.upload-form {
  box-shadow: inset 0 0 0 2px blue;
}

.upload-form__filter {
  box-shadow: inset 0 0 0 2px green;
}

.contest__form {
  box-shadow: inset 0 0 0 2px orange;
}

.contest__wrapper-fullname,
.contest__wrapper-trip,
.contest__wrapper-contacts,
.contest__wrapper-app,
.contest__wrapper-submit {
  box-shadow: inset 0 0 0 2px green;
}

.footer {
  box-shadow: inset 0 0 0 2px red;
}

.footer__wrapper {
  box-shadow: inset 0 0 0 2px orange;
}

.modal {
  box-shadow: inset 0 0 0 2px blue;
}
