.header {
  box-shadow: 0 0 0 2px red;
}

.nav {
  box-shadow: inset 0 0 0 2px yellow;
}

.nav__items {
  box-shadow: inset 0 0 0 2px yellow;
}

.hero {
  box-shadow: inset 0 0 0 2px blue;
}

.app-links {
  box-shadow: inset 0 0 0 2px purple;
}

.about {
  box-shadow: 0 0 0 2px red;
}

.about__wrapper-main {
  box-shadow: inset 0 0 0 2px yellow;
}

.about__items {
  box-shadow: inset 0 0 0 2px blue;
}

.slogan {
  box-shadow: inset 0 0 0 2px orange;
}

.reviews {
  box-shadow: 0 0 0 2px red;
}

.reviews__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.price {
  box-shadow: 0 0 0 2px purple;
}

.price__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.slider {
  box-shadow: inset 0 0 0 2px purple;
}

.contacts {
  box-shadow: inset 0 0 0 2px blue;
}

.contacts__items {
  box-shadow: inset 0 0 0 2px red;
}

.offer {
  box-shadow: inset 0 0 0 2px green;
}

.photos {
  box-shadow: inset 0 0 0 2px pink;
}

.photo {
  box-shadow: 0 0 0 2px yellow;
}

.photos-upload {
  box-shadow: 0 0 0 2px red;
}

.upload-form {
  box-shadow: inset 0 0 0 2px blue;
}

.contest__form {
  box-shadow: inset 0 0 0 2px green;
}

.contest__wrapper {
  box-shadow: inset 0 0 0 2px orange;
}

.footer {
  box-shadow: inset 0 0 0 2px orange;
}

.footer__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.modal {
  box-shadow: inset 0 0 0 2px blue;
}
