.page {
  box-shadow: inset 0 0 0 2px black;
}

.header {
  box-shadow: inset 0 0 0 2px red;
}

.nav {
  box-shadow: inset 0 0 0 2px yellow;
  min-height: 325px;
}

@media (min-width: $tablet) {
  .nav {
    min-height: 365px;
  }
}

@media (min-width: $desktop) {
  .nav {
    min-height: 110px;
  }
}

.nav__items {
  box-shadow: inset 0 0 0 2px green;
}

.hero {
  box-shadow: inset 0 0 0 2px blue;
  min-height: 171px;
}

@media (min-width: $tablet) {
  .hero {
    min-height: 330px;
  }
}

@media (min-width: $desktop) {
  .hero {
    min-height: 284px;
  }
}

.hero__wrapper {
  box-shadow: inset 0 0 0 2px orange;
}

.app-links {
  box-shadow: inset 0 0 0 2px purple;
}

.about {
  box-shadow: inset 0 0 0 2px red;
}

.about__wrapper-main {
  box-shadow: inset 0 0 0 2px yellow;
}

.about__wrapper-inner {
  box-shadow: inset 0 0 0 2px green;
}

.about__items {
  box-shadow: inset 0 0 0 2px blue;
}

.promo {
  box-shadow: inset 0 0 0 2px orange;
}

.promo__wrapper {
  box-shadow: inset 0 0 0 2px purple;
}

.slogan {
  box-shadow: inset 0 0 0 2px orange;
}

.reviews {
  box-shadow: inset 0 0 0 2px red;
}

.reviews__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.price {
  box-shadow: inset 0 0 0 2px purple;
}

.price__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.slider {
  box-shadow: inset 0 0 0 2px purple;
}

.contacts {
  box-shadow: inset 0 0 0 2px blue;
}

.contacts__items {
  box-shadow: inset 0 0 0 2px red;
}

.offer {
  box-shadow: inset 0 0 0 2px green;
  min-height: 74px;
}

@media (min-width: $tablet) {
  .offer {
    min-height: 118px;
  }
}

@media (min-width: $desktop) {
  .offer {
    min-height: 100px;
  }
}

.photos {
  box-shadow: inset 0 0 0 2px purple;
  min-height: 2486px;
}

@media (min-width: $tablet) {
  .photos {
    min-height: 455px;
  }
}

@media (min-width: $desktop) {
  .photos {
    min-height: 555px;
  }
}

.photo {
  box-shadow: inset 0 0 0 2px yellow;
}

@media (min-width: $tablet) {
  .photo {
    min-height: 455px;

    &--best {
      min-height: 630px;
    }
  }
}

@media (min-width: $desktop) {
  .photo {
    min-height: 555px;

    &--best {
      min-height: 602px;
    }
  }
}

.photos-upload {
  box-shadow: inset 0 0 0 2px red;
}

.photos-upload__offer {
  box-shadow: inset 0 0 0 2px yellow;
  min-height: 82px;
}

@media (min-width: $tablet) {
  .photos-upload__offer {
    min-height: 104px;
  }
}

@media (min-width: $desktop) {
  .photos-upload__offer {
    min-height: 61px;
  }
}

.upload-form {
  box-shadow: inset 0 0 0 2px blue;
}

.upload-form__filter {
  box-shadow: inset 0 0 0 2px green;
  min-height: 757px;
}

@media (min-width: $tablet) {
  .upload-form__filter {
    min-height: 511px;
  }
}

@media (min-width: $desktop) {
  .upload-form__filter {
    min-height: 514px;
  }
}

.contest__form {
  box-shadow: inset 0 0 0 2px orange;
  min-height: 2059px;
}

@media (min-width: $tablet) {
  .contest__form {
    min-height: 2219px;
  }
}

@media (min-width: $desktop) {
  .contest__form {
    min-height: 1300px;
  }
}

.contest__field {
  box-shadow: inset 0 0 0 2px red;
}

.contest__wrapper {
  box-shadow: inset 0 0 0 2px green;
}

.footer {
  box-shadow: inset 0 0 0 2px red;
}

.footer__wrapper {
  box-shadow: inset 0 0 0 2px orange;
  min-height: 284px;
}

@media (min-width: $tablet) {
  .footer__wrapper {
    min-height: 127px;
  }
}

@media (min-width: $desktop) {
  .footer__wrapper {
    min-height: 197px;
  }
}

.modal {
  box-shadow: inset 0 0 0 2px blue;
}
